<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">

<footer class="footer py-3 mt-auto">
    
<body>
    <footer class="footer">
         <div class="container">
             <div class="row">
                 <div class="footer-col">
                     <h4>Yelp</h4>
                     <ul>
                         <li><a href="/">Home</a></li>
                         <li><a href="/about">About</a></li>
                         <li><a href="/pricing">Pricing</a></li>
                         <li><a href="/privacy_policy">Privacy Policy</a></li>
                     </ul>
                 </div>
                 <div class="footer-col">
                     <h4>Links</h4>
                     <ul>
                         <li><a href="/campgrounds">Campgrounds</a></li>
                         <li><a href="/restaurants">Restaurants</a></li>
                         <li><a href="/rooms">Rooms</a></li>
                         <li><a href="/gyms">Gyms</a></li>
                     </ul>
                 </div>
                 <div class="footer-col">
                     <h4>Address</h4>
                     <ul>
                         <li><a href="#">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate adipisci quia ab omnis id ipsum quae inventore </a></li>
                     </ul>
                 </div>
                 <div class="footer-col">
                     <h4>follow us</h4>
                     <div class="social-links">
                         <a href="#"><i class="fab fa-google"></i></a>
                         <a href="#"><i class="fab fa-facebook-f"></i></a>
                         <a href="#"><i class="fab fa-instagram"></i></a>
                         <a href="#"><i class="fab fa-twitter"></i></a>
                     </div>
                 </div>
             </div>
         </div>
    </footer>
  
  </body>
</footer>