<link rel="stylesheet" href="/stylesheets/navbar.css">


</head>
<body>
  <nav class="navbar my-navbar sticky-top navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            
            <img src="" >
            <span class="title">YELP</span>
          </a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="iconify bar-icon" data-icon="fa-solid:bars" data-inline="false"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item nav-active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/campgrounds">Campgrounds</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" href="/restaurants">Restaurants</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/rooms">Rooms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/gyms">Gyms</a>
          </li>
          <% if(!currentUser){ %>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
            <% }else{ %>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
              <% } %>
        </ul>
      </div>
    </div>
  </nav>
<br>
</body>