<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yelp</title>
    <link rel="icon" href="https://res.cloudinary.com/doahs2oms/image/upload/v1650792886/YelpCamp/yelp_1_oeypza.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body class="d-flex text-center text-white bg-dark">

    <div class="">
        <header class="mb-auto">

            <div class="top">
                <h2 class="float-md-left mb-0"><span class="yelp">Yelp</span></h2>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <% if(!currentUser) { %>
                        <a class="nav-link" href="/login">Login</a>
                        <a class="nav-link" href="/register">Register</a>
                        <% } else { %>
                            <a class="nav-link" href="/logout">Logout</a>
                            <% } %>
                </nav>
            </div>
        </header>
        <main class="px-3">
            
            <div class="down">
                <p class="lead"> Welcome to Yelp! <br> Jump right in and explore all our stuffs. <br>
                    Feel free to share some of your own and comment on others!</p>
            </div>
            <div class="row py-5">
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Find Campgrounds</h5>
                            <p class="card-text">Looking for a safe peaceful and perfect trip? Look no further than our website.
                            </p>
                            <a href="/campgrounds" class="btn btn-primary">Campgrounds</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Find restaurants</h5>
                            <p class="card-text">Are you a food lover? Then you land in the right place to explore restaurants.
                            </p>
                            <a href="/restaurants" class="btn btn-primary">Restaurants</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Find rooms</h5>
                            <p class="card-text">With the bunch of rooms available select the one which suits you the most.
                            </p>
                            <a href="/rooms" class="btn btn-primary">Rooms</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Find gyms</h5>
                            <p class="card-text">Raise your fitness routine to professional standards by finding better gym.
                            </p>
                            <a href="/gyms" class="btn btn-primary">Gyms</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <a href="/campgrounds" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">View
                Campgrounds</a> -->
        </main>

        <footer class="mt-auto text-white-50 mb-auto">
            <p>&copy; 2023 </p>
        </footer>


    </div>



    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>

</body>

</html>