<% layout('layouts/boilerplate')%>

    <title>Privacy Policy</title>
</head>
    <h4>As a condition of use, you promise not to use the Services for any purpose that is unlawful or prohibited by these Terms, or any other purpose not reasonably intended. By way of example, and not as a limitation, you agree not to use the Services :</h4>
    <p>To abuse, harass, threaten, impersonate or intimidate any person.
         To post or transmit, or cause to be posted or transmitted, any content that is libelous, defamatory,
        obscene, pornographic, abusive, offensive, profane, or that infringes any copyright or other right of any person.
         To communicate with representatives or other users in an abusive or offensive manner.
         For any purpose (including posting or viewing Content) that is not permitted under the laws of the
        jurisdiction where you use the Services.
         To post or transmit, or cause to be posted or transmitted, any Communication designed or intended to
        obtain password, account, or private information from any user.
         To create or transmit unwanted 'spam' to any person or any URL
         To create multiple accounts for the purpose of voting for or against users' Visual Content.
         To post copyrighted Content that does not belong to you, unless you are commenting on Visual Content
        in Blogs, where you may post such Content subject to providing appropriate attribution to the copyright owner and a link to the source of the Content.</p>
