@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("https://res.cloudinary.com/doahs2oms/image/upload/v1649948248/YelpCamp/2560x1600-5264438-flame-burn-fire-campfire-camp-fire-night-sky-poster-happiness-happy-warm-road-trip-roadtrip-camp-wild-photography-traveling-travel-traverl-wood-lifestyle-free-stock-photos_ygwf2b.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
    animation : slide 40s infinite;
    font-family: 'Concert One', cursive;
    font-family: 'Poppins', sans-serif;
    
    
}
.cover-container {
  max-width: 60vw;
}

.top{
    margin-top: 20px;
    margin-left: 5px;
    margin-right:5px;
}
.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255,255,255,0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover{
    color: rgba(255,255,255,0.5);
    border-bottom-color:rgba(255,255,255,0.5);
}

.nav-link.active {
    color: white;
    border-bottom-color:white;

}

.btn-secondary, .btn-secondary:hover{
    color: #333;
    text-shadow: none;
}

@keyframes slide{
    0%, 100%{
        background-image: url("https://res.cloudinary.com/doahs2oms/image/upload/v1649948248/YelpCamp/2560x1600-5264438-flame-burn-fire-campfire-camp-fire-night-sky-poster-happiness-happy-warm-road-trip-roadtrip-camp-wild-photography-traveling-travel-traverl-wood-lifestyle-free-stock-photos_ygwf2b.jpg"), url("https://res.cloudinary.com/doahs2oms/image/upload/v1650551161/YelpCamp/-restaurant-edit_nuvamq.jpg");
    }
    25%{
        background-image: url("https://res.cloudinary.com/doahs2oms/image/upload/v1650551161/YelpCamp/-restaurant-edit_nuvamq.jpg"), url("https://res.cloudinary.com/doahs2oms/image/upload/v1650551416/YelpCamp/bedroom-edit_yqysm6.jpg");
    }
    50%{
        background-image: url("https://res.cloudinary.com/doahs2oms/image/upload/v1650551416/YelpCamp/bedroom-edit_yqysm6.jpg"),  url("https://res.cloudinary.com/doahs2oms/image/upload/v1649943647/YelpCamp/gym_ngt5pc.jpg");
    }
    75%{
        background-image: url("https://res.cloudinary.com/doahs2oms/image/upload/v1649943647/YelpCamp/gym_ngt5pc.jpg");
    }
    
}
.yelp{
    
    letter-spacing: 1.5px;
    
}

.down{
    margin-top: 10%;
}
.card { background-color: rgba(245, 245, 245, 0.4); }
.card-header, .card-footer { opacity: 1}

@media screen and (min-width: 880px) {
    footer {
      padding-top: 50px;
    }
  }

  @media screen and (min-width: 1400px) {
    .down {
      margin-top: 20%;
    }
  }