<% layout('layouts/boilerplate')%>
    <style>
        
    </style>
    <title>About</title>
</head>
<div class="row">
    <div class="col-md-8 offset-md-2">
        <br><br>
    <h2>What Is Yelp?</h2>
    <p>Yelp is a popular online directory for discovering local businesses ranging from campgrounds, restaurants, and rooms to gyms.</p>
    <h2>How Does Yelp Work?</h2>
    <p>You can search Yelp via its website.

        Yelp has a strong social aspect and encourages its users to leave written reviews, star ratings, and photos of their experience with each business they visit.</p>
        <br><br>
    </div>
    </div>